<div class="row primary-background">
  <h2 class="medium-12 columns"> A Brief History </h2>
  <p class="medium-12 columns text-center secondary-font">  Every day is an opportunity, and every opportunity can be an adventure. </p>

  <div class="medium-12 columns">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel2-1">Childhood</a></li>
      <li class="tab-title"><a href="#panel2-2">High School</a></li>
      <li class="tab-title"><a href="#panel2-3">College</a></li>
      <li class="tab-title"><a href="#panel2-4">First (Real) Job</a></li>
      <li class="tab-title"><a href="#panel2-5">Grad School</a></li>
      <li class="tab-title"><a href="#panel2-6">To Present</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="panel2-1">
        <p>As a kid, I spent most of my waking moments playing baseball or reading a book.  I read every mystery I could get my hands on - Hardy Boys, Nancy Drew, Three Investigators, Encyclopedia Brown, Sherlock Holmes.  We didn't have access to a lot of technology at my house, so I built a Gameboy out of Construx and made a computer out of paper.  They weren't functional, but they were fun.  And when I got old enough to babysit, I saved my earnings to buy a Nintendo and a real Gameboy.</p>
      </div>
      <div class="content" id="panel2-2">
        <p>I planned to play sports in high school, but I ended up getting involved in theater instead.  Performing was a lot of fun, and I can still sing snatches from <i> The Gondoliers </i> and do a mean grapvine.  Stage managing was even more fun.  I was right in the middle of the action, running my socks off to make sure everyone had what they needed and got where they needed to go on time.  Some nights my legs were so tired that pushing down on the gas pedal to get home was a challenge.  Totally worth it.  I'd also worked hard in the classroom, and I was blessed to be a National Merit Finalist and receive full scholarships that allowed me to go on to college. </p>
      </div>
      <div class="content" id="panel2-3">
        <p>I was active in campus ministries, and I started playing guitar a lot more.  I'd played off and on for years, but suddenly there were lots of opportunities to play with other people and lead worship for different events.  I caught the percussion bug, too.  I even toured in a band with some friends, playing for church and youth group events in Nebraska, Iowa, and Colorado.  Oh, yeah - and I earned a Bachelor's degree in English Secondary Education and History.</p>
      </div>
      <div class="content" id="panel2-4">
        <p>After working as a crew trainer at McDonald's for a year - long story - I got my first teaching job in Norfolk, Nebraska.  I was a high school English teacher, assistant drama director, and cheerleading co-sponsor.  I was mostly terrible at it.  As it turns out, there's a big difference between knowing your content and being able to explain it to struggling students who don't share your natural enthusiasm for the material. </p>
      </div><div class="content" id="panel2-5">
        <p>After working as a crew trainer at McDonald's for a year - long story - I got my first teaching job in Norfolk, Nebraska.  I was a high school English teacher, assistant drama director, and cheerleading co-sponsor.  I was mostly terrible at it.  As it turns out, there's a big difference between knowing your content and being able to explain it to struggling students who don't share your natural enthusiasm for the material. </p>
      </div><div class="content" id="panel2-6">
        <p>After working as a crew trainer at McDonald's for a year - long story - I got my first teaching job in Norfolk, Nebraska.  I was a high school English teacher, assistant drama director, and cheerleading co-sponsor.  I was mostly terrible at it.  As it turns out, there's a big difference between knowing your content and being able to explain it to struggling students who don't share your natural enthusiasm for the material. </p>
      </div>
    </div>
  </div>





  <div class="medium-4 columns">
    <h3 class="medium-12 columns"> Childhood </h3>
    <p class="medium-12 columns"> As a kid, I spent most of my waking moments  with my nose in a book or a baseball glove on my hand.  We didn't have access to a lot of technology at my house, so I built a Gameboy out of Construx and made a computer out of paper.  They weren't functional, but they were fun. </p>
  </div>
  <div class="medium-4 columns">
    <h3 class="medium-12 columns"> High School </h3>
    <p class="medium-12 columns"> I got involved in theater both onstage and behind the scenes.  I looked pretty awesome in that WWII uniform, and I can still do a mean box step.  As much fun as performing was, stage managing was even better.  Keeping everything organized and running smoothly was a huge challenge - and a blast.  Also, the funniest moments in any show happen in the wings. </p>
  </div>
  <div class="medium-4 columns">
    <h3 class="medium-12 columns"> College </h3>
    <p class="medium-12 columns"> I was active in campus ministries, and I started playing guitar a lot more.  I'd played off and on for years, but suddenly there were lots of opportunities to play with other people and lead worship for different events.  I caught the percussion bug, too.  I even toured in a band with some friends, playing for church and youth group events in Nebraska, Iowa, and Colorado.  Oh, yeah - and I earned a Bachelor's degree in English Secondary Education and History. </p>
  </div>
  <div class="medium-4 columns">
    <h3 class="medium-12 columns"> Adulthood </h3>
    <p class="medium-12 columns"> After working as a crew trainer at McDonald's for a year - long story - I got my first teaching job in Norfolk, Nebraska.  I was a high school English teacher, assistant drama director, and cheerleading co-sponsor.  I was mostly terrible at it.  As it turns out, there's a big difference between knowing your content and being able to explain it to struggling students who don't share your natural enthusiasm for the material. </p>  
  </div>
</div>







<div class="row panel">
  <div class="medium-4 columns">
    <h2>Teacher</h2>
      <p>With a BA in English Education, an MA in Special Education, and ten years of experience working with children from birth through high school, I've had the chance to teach everything from early communication skills to pre-algebra to high school English in both mainstream and special education settings.  Recently, serving as a TA for a <a href="http://omahacodeschool.com/">developer bootcamp</a> with adult students provided a fun new aspect to the daily adventure of teaching. </p>
      <p><a class="button tiny radius" href="/hats#teacher" role="button">More... &raquo;</a></p>
  </div>
  <div class="medium-4 columns">
    <h2>Developer</h2>
      <p>What began as a summer exploration has become an ongoing adventure filled with interesting challenges, exciting accomplishments, and lots of great people.   Online classes through <a href="https://www.edx.org/"> EdX.org </a> gave me a foundation to build real <a href="http://www.herewegrowlincoln.com"> websites</a> and applications and participate in open source projects with other developers around country and even around the world. </p>
      <p><a class="button tiny radius" href="/hats#developer" role="button">More... &raquo;</a></p>
  </div>
  <div class="medium-4 columns">
    <h2>Writer</h2>
      <p>A college friend used to ask me every day if I had slept the night before.  For me, the best time to wrestle with words and ideas was usually around 2 a.m. when the dorms were quiet and everyone else was asleep.  I don't often have the luxury of working through the night anymore, but I am slowly working on a book project that means a lot to me.  I've also enjoyed sharing some local adventures as a <a href="http://touristinmyownhometown.blogspot.com/"> hometown tourist</a>, and I'll be sharing more resources and ideas <a href=#>here</a> as well.</p>
      <p><a class="button tiny radius" href="hats/#writer" role="button">More... &raquo;</a></p>
  </div>
</div>
