<div class="row primary-background">
  <div class="medium-8 columns">
    <h1> About Me </h1>
    <p> I’m a big sister, teacher, developer, dog lover, guitar player, writer, and gadget nerd.  There is always a song stuck in my head.  There is never enough time to do all the things I love, but the most important things are loving Jesus and loving people.  And hanging out with my dogs, because they're awesome. </p> 

    <p> I started learning to code in the summer of 2012.  I love the way coding combines logic and creativity to create amazing tools and rich, interactive experiences.</p>

    <p> I have a decade of experience in teaching.  I can’t believe I’m old enough to have a decade of experience in anything.  Crazy.</p>
    
    <p> According to the <a href="https://www.gallupstrengthscenter.com" class="secondary-link">Gallup Organization</a> Strengths Finder, my top 5 strengths are:
      <ol>
        <li class="secondary-link" id="strength-learner"> Learner </li>
          <p class="hidden" id="learner-def"> 
            "You love to learn. The subject matter that interests you most will be determined by your other themes and experiences, but whatever the subject, you will always be drawn to the process of learning. The process, more than the content or the result, is especially exciting for you. You are energized by the steady and deliberate journey from ignorance to competence. The thrill of the first few facts, the early efforts to recite or practice what you have learned, the growing confidence of a skill mastered—this is the process that entices you. Your excitement leads you to engage in adult learning experiences—yoga or piano lessons or graduate classes. It enables you to thrive in dynamic work environments where you are asked to take on short project assignments and are expected to learn a lot about the new subject matter in a short period of time and then move on to the next one. This Learner theme does not necessarily mean that you seek to become the subject matter expert, or that you are striving for the respect that accompanies a professional or academic credential. The outcome of the learning is less significant than the 'getting there.'"
          </p>
        <li class="secondary-link" id="strength-achiever"> Achiever </li> 
          <p class="hidden" id="achiever-def">
            "Your Achiever theme helps explain your drive. Achiever describes a constant need for achievement. You feel as if every day starts at zero. By the end of the day you must achieve something tangible in order to feel good about yourself. And by “every day” you mean every single day—workdays, weekends, vacations. No matter how much you may feel you deserve a day of rest, if the day passes without some form of achievement, no matter how small, you will feel dissatisfied. You have an internal fire burning inside you. It pushes you to do more, to achieve more. After each accomplishment is reached, the fire dwindles for a moment, but very soon it rekindles itself, forcing you toward the next accomplishment. Your relentless need for achievement might not be logical. It might not even be focused. But it will always be with you. As an Achiever you must learn to live with this whisper of discontent. It does have its benefits. It brings you the energy you need to work long hours without burning out. It is the jolt you can always count on to get you started on new tasks, new challenges. It is the power supply that causes you to set the pace and define the levels of productivity for your work group. It is the theme that keeps you moving."
          </p>
        <li class="secondary-link" id="strength-connectedness"> Connectedness </li>
          <p class="hidden" id="connectedness-def">
            "Things happen for a reason. You are sure of it. You are sure of it because in your soul you know that we are all connected. Yes, we are individuals, responsible for our own judgments and in possession of our own free will, but nonetheless we are part of something larger. Some may call it the collective unconscious. Others may label it spirit or life force. But whatever your word of choice, you gain confidence from knowing that we are not isolated from one another or from the earth and the life on it. This feeling of Connectedness implies certain responsibilities. If we are all part of a larger picture, then we must not harm others because we will be harming ourselves. We must not exploit because we will be exploiting ourselves. Your awareness of these responsibilities creates your value system. You are considerate, caring, and accepting. Certain of the unity of humankind, you are a bridge builder for people of different cultures. Sensitive to the invisible hand, you can give others comfort that there is a purpose beyond our humdrum lives. The exact articles of your faith will depend on your upbringing and your culture, but your faith is strong. It sustains you and your close friends in the face of life’s mysteries."
          </p>
        <li class="secondary-link" id="strength-responsibility"> Responsibility </li>
          <p class="hidden" id="responsibility-def">
            "Your Responsibility theme forces you to take psychological ownership for anything you commit to, and whether large or small, you feel emotionally bound to follow it through to completion. Your good name depends on it. If for some reason you cannot deliver, you automatically start to look for ways to make it up to the other person. Apologies are not enough. Excuses and rationalizations are totally unacceptable. You will not quite be able to live with yourself until you have made restitution. This conscientiousness, this near obsession for doing things right, and your impeccable ethics, combine to create your reputation: utterly dependable. When assigning new responsibilities, people will look to you first because they know it will get done. When people come to you for help—and they soon will—you must be selective. Your willingness to volunteer may sometimes lead you to take on more than you should."
          </p>
        <li class="secondary-link" id="strength-arranger"> Arranger </li>
          <p class="hidden" id="arranger-def">
            "You are a conductor. When faced with a complex situation involving many factors, you enjoy managing all of the variables, aligning and realigning them until you are sure you have arranged them in the most productive configuration possible. In your mind there is nothing special about what you are doing. You are simply trying to figure out the best way to get things done. But others, lacking this theme, will be in awe of your ability. “How can you keep so many things in your head at once?” they will ask. “How can you stay so flexible, so willing to shelve well-laid plans in favor of some brand-new configuration that has just occurred to you?” But you cannot imagine behaving in any other way. You are a shining example of effective flexibility, whether you are changing travel schedules at the last minute because a better fare has popped up or mulling over just the right combination of people and resources to accomplish a new project. From the mundane to the complex, you are always looking for the perfect configuration. Of course, you are at your best in dynamic situations. Confronted with the unexpected, some complain that plans devised with such care cannot be changed, while others take refuge in the existing rules or procedures. You don’t do either. Instead, you jump into the confusion, devising new options, hunting for new paths of least resistance, and figuring out new partnerships—because, after all, there might just be a better way."
          </p>
      </ol>
    </p>
    <p> <i> (Click to view descriptions.) </i> </p>
  </div>
  <div class="medium-4 columns">
    <h1 class="text-center"> My Pups </h1>
    <%= image_tag "Jesse.jpeg", alt: "My dog Jesse.  He's a black and tan Shiba Inu", :class => "about-me-photos" %>
    <p class="text-center secondary-background about-me-photos"> Jesse </p>
    <%= image_tag "Grace.jpeg", alt: "My dog Grace.  She's a black and tan Shiba Inu", :class => "about-me-photos" %>
    <p class="text-center secondary-background about-me-photos"> Grace </p>
  </div>
</div>