







<div class="row panel">
  <ul class="tabs vertical" data-tab>
  <li class="tab-title active"><a href="#panel1a">Tab 1</a></li>
  <li class="tab-title"><a href="#panel2a">Tab 2</a></li>
  <li class="tab-title"><a href="#panel3a">Tab 3</a></li>
  <li class="tab-title"><a href="#panel4a">Tab 4</a></li>
</ul>
<div class="tabs-content vertical">
  <div class="content active" id="panel1a">
    <p>Panel 1 content goes here.</p>
  </div>
  <div class="content" id="panel2a">
    <p>Panel 2 content goes here.</p>
  </div>
  <div class="content" id="panel3a">
    <p>Panel 3 content goes here.</p>
  </div>
  <div class="content" id="panel4a">
    <p>Panel 4 content goes here.</p>
  </div>
</div>
  <div class="medium-4 columns">
    <h2>Teacher</h2>
      <p>With a BA in English Education, an MA in Special Education, and ten years of experience working with children from birth through high school, I've had the chance to teach everything from early communication skills to pre-algebra to high school English in both mainstream and special education settings.  Recently, serving as a TA for a <a href="http://omahacodeschool.com/">developer bootcamp</a> with adult students provided a fun new aspect to the daily adventure of teaching. </p>
      <p><a class="button tiny radius" href="/hats#teacher" role="button">More... &raquo;</a></p>
  </div>
  <div class="medium-4 columns">
    <h2>Developer</h2>
      <p>What began as a summer exploration has become an ongoing adventure filled with interesting challenges, exciting accomplishments, and lots of great people.   Online classes through <a href="https://www.edx.org/"> EdX.org </a> gave me a foundation to build real <a href="http://www.herewegrowlincoln.com"> websites</a> and applications and participate in open source projects with other developers around country and even around the world. </p>
      <p><a class="button tiny radius" href="/hats#developer" role="button">More... &raquo;</a></p>
  </div>
  <div class="medium-4 columns">
    <h2>Writer</h2>
      <p>A college friend used to ask me every day if I had slept the night before.  For me, the best time to wrestle with words and ideas was usually around 2 a.m. when the dorms were quiet and everyone else was asleep.  I don't often have the luxury of working through the night anymore, but I am slowly working on a book project that means a lot to me.  I've also enjoyed sharing some local adventures as a <a href="http://touristinmyownhometown.blogspot.com/"> hometown tourist</a>, and I'll be sharing more resources and ideas <a href=#>here</a> as well.</p>
      <p><a class="button tiny radius" href="hats/#writer" role="button">More... &raquo;</a></p>
  </div>
</div>
