<div class="row panel">
  <div class="medium-8 columns">
    <h1> Welcome </h1>
    <p> Thanks for visiting.  I hope you'll find some useful information and resources here.  I'm always on a journey to learn and explore new things, and I love helping other people learn, sharing great resources, and exchanging stories through this amazing vehicle of the Internet.</p>
    <p> Look around to learn more about me, and send me an <a href="mailto:abbyjonesdev@gmail.com"> email </a> or a <a href="http://twitter.com/AbbyJones80"> tweet </a> if there's something I can help you with. </p>
  </div>
  <div class="medium-3 medium-offset-1 columns">
    <%= image_tag('my_photo.jpg', alt: "Abby Jones: Teacher, Developer, and Writer", :id => "my_photo") %>
  <br> <br> 
  </div>
  <div class="medium-12 columns">
    <p class="accent-red"> For example, you might have a question like this... </p>
    <ul>
      <li class="secondary-font"> Website Questions </li>
        <ul>
          <li> How do I start my own website? </li>
          <li> Who can help me start a website or make my current website better? </li>
        </ul>
      <li class="secondary-font"> Coding Questions </li>
        <ul>
          <li> What are some options or resources for learning computer programming or web development? </li>
          <li> Where can I meet other developers or get involved in open source projects? </li>
        </ul>
      <li class="secondary-font"> Teaching Questions </li>
        <ul>
          <li> What technology or other resources would help my students learn this content/standard better? </li>
          <li> How can I use the technology I have more effectively in my classroom? </li>
        </ul>
    </ul>  
    <p class="accent-red"> Or, you know - you could just say hello.  That's cool too. </p>
  </div>
</div>


<div class="row panel">
  <div class="medium-4 columns">
    <h2>Teacher</h2>
      <p>With a BA in English Education, an MA in Special Education, and ten years of experience working with children from birth through high school, I've had the chance to teach everything from early communication skills to pre-algebra to high school English in both mainstream and special education settings.  Recently, serving as a TA for a <a href="http://omahacodeschool.com/">developer bootcamp</a> with adult students provided a fun new aspect to the daily adventure of teaching. </p>
      <p><a class="button tiny radius" href="/hats#teacher" role="button">More... &raquo;</a></p>
  </div>
  <div class="medium-4 columns">
    <h2>Developer</h2>
      <p>What began as a summer exploration has become an ongoing adventure filled with interesting challenges, exciting accomplishments, and lots of great people.   Online classes through <a href="https://www.edx.org/"> EdX.org </a> gave me a foundation to build real <a href="http://www.herewegrowlincoln.com"> websites</a> and applications and participate in open source projects with other developers around country and even around the world. </p>
      <p><a class="button tiny radius" href="/hats#developer" role="button">More... &raquo;</a></p>
  </div>
  <div class="medium-4 columns">
    <h2>Writer</h2>
      <p>A college friend used to ask me every day if I had slept the night before.  For me, the best time to wrestle with words and ideas was usually around 2 a.m. when the dorms were quiet and everyone else was asleep.  I don't often have the luxury of working through the night anymore, but I am slowly working on a book project that means a lot to me.  I've also enjoyed sharing some local adventures as a <a href="http://touristinmyownhometown.blogspot.com/"> hometown tourist</a>, and I'll be sharing more resources and ideas <a href=#>here</a> as well.</p>
      <p><a class="button tiny radius" href="hats/#writer" role="button">More... &raquo;</a></p>
  </div>
</div>