<div class="row">
  <h1> Resume </h1>
  <div class="small-10 small-offset-1 columns">
    <iframe src="https://docs.google.com/file/d/0B1VytjaVrAv0dFhkcUV2WlE2MU0/preview" width="840" height="480"></iframe>
  </div>
</div>