<div class="row panel">

  <div class="medium-8 columns">
    <h1> Newest Posts </h1>
    <%= render 'previews' %>
    <br>
    <%= link_to "See all posts", blogs_path %>

  </div>

  <%= render 'sidebar' %>


</div>