<br>
<% @resources.each do |resource| %>
  <h3> <%= link_to "#{resource.title}", resource %> </h3>
  <p> <%= markdown resource.preview %> </p>
  <%= link_to "More...", resource %>
  <br>
  <hr>
<% end %>
