<br>
<% @resources.each do |resource| %>
  <h3><%= link_to resource.title, resource %> </h3>
  <p><%= resource.preview.html_safe %></p>
  <p> <em>Tags:</em> <%= resource.tags %> </p>
  <%= link_to "Learn More...", resource %>
  <br>
  <br>
  <hr>
<% end %>
