<div class="row panel">
  <div class="medium-8 columns">
    <h1>Resource Index</h1>
    <%= render "show_resources" %> 
    
    <% if current_admin %>
      <br>
      <%= link_to 'New Resource', new_resource_path %>
    <% end %>
  </div>
  
  <%= render "sidebar" %>
</div>