$include-html-global-classes: false;
@import "foundation/components/global";

// COLORS
$primary-color: #00A287;
$primary-color-d1: #1E796A;
$primary-color-d2: #006957;
$primary-color-l1: #34D0B6;
$primary-color-l2: #5ED0BD;


$secondary-color: #FFA200;
$secondary-color-d1: #BF8B30;
$secondary-color-d2: #A66A00;
$secondary-color-l1: #FFBA40;
$secondary-color-l2: #FFCC73;


$accent-color: #F5001D;
$accent-color-d1: #B72E3E;
$accent-color-d2: #9F0013;
$accent-color-l1: #FA3E54;
$accent-color-l2: #FA7081;

.primary-background {
  background-color: lighten($primary-color-l1, 8%);

  h1, h2, h3 {
    color: white;
  }
}

.primary-font {
  color: $primary-color !important; 
}

.secondary-font {
  color: $secondary-color !important;
  font-weight: bold;
}

.secondary-link {
  color: $secondary-color
}

.secondary-link:hover {
  color: darken($secondary-color, 10%);
}

.secondary-background {
  background-color: $secondary-color-l2;
  color: $secondary-color-d2;
  padding: rem-calc(2px), 0;

}

.accent-red {
  color: white !important; 
  background-color: $accent-color-l2;
  padding: rem-calc(8px);
}

.accent-font {
  color: $accent-color !important;
  font-weight: bold;
}

.accent-link {
  color: $accent-color
}

.accent-link:hover {
  color: darken($accent-color, 10%);
}

.accent-background {
  background-color: lighten($accent-color-l2, 5%);
  color: white;
}

// PHOTOS
@mixin photo-border {
  border: rem-calc(2px) solid $secondary-color-l1;
}

// GENERAL

.hidden {
  display: none;
}

.radio_buttons {
  margin-bottom: rem-calc(10px);
  padding: rem-calc(7px);
  background-color: white;
  border: 1px solid $primary-color;
}