@import 'globals';

html {min-height: 100%;}
.background-wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -200px;
  width: 100%;
  background-attachment: fixed;

  background-color: $primary-color-d2;
}


header {
  margin: rem-calc(-1px);
  border: rem-calc(1px) solid $secondary-color-l1;
  background-color: $primary-color-l1;

  h1, h2 > small {
    color: $primary-color-d2;
  }

  h1 {
    font-size: rem-calc(54);
  }
}

section.top-bar-section li {
  border-width: 0 0 0 rem-calc(2px);
  border-color: $primary-color-l1;
  border-style: solid;
}

.contact {
  background-color: $primary-color-l2;
  border: rem-calc(1px) solid $secondary-color-l1;

  .button {
    margin: rem-calc(15px);
    border: rem-calc(1px) solid white;
  }
}