<nav class="top-bar sticky medium-12 columns" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/about"> About </a></li>
      <li><%= link_to "Projects", main_projects_path %></li>
      <li><%= link_to "Blog", main_blogs_path %></li>
      <li><a href="/omaha"> Omaha </a></li>
      <li><a href="/resume"> Resume </a></li>

      <% if admin_signed_in? %>
        <li> <%= link_to "Logout", destroy_admin_session_path, method: :delete %> </li>
      <% end %>
    </ul>
  </section>
</nav>